/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "../app.overlay"

&pinctrl {
	tdm130_default_alt: tdm130_default_alt {
		group1 {
			psels = <NRF_PSEL(TDM_SCK_M, 1, 3)>,
				<NRF_PSEL(TDM_FSYNC_M, 1, 6)>,
				<NRF_PSEL(TDM_SDOUT, 1, 4)>,
				<NRF_PSEL(TDM_SDIN, 1, 5)>;
		};
	};
};

i2s_rxtx: &tdm130 {
	status = "reserved";
	pinctrl-0 = <&tdm130_default_alt>;
	pinctrl-names = "default";
	memory-regions = <&cpuapp_dma_region>;
	mck-clock-source = "ACLK";
	sck-clock-source = "ACLK";
};

&audiopll {
	frequency = <NRFS_AUDIOPLL_FREQ_AUDIO_48K>;
	status = "okay";
};

/* Reduce app dma region to allow RAM3x space for FLPR (TDM). */
&cpuapp_dma_region {
	status = "okay";
	reg = <0x2fc12000 3584>;
};

/ {
	reserved-memory {
		cpuflpr_dma_region: memory@2fc12e00 {
			compatible = "nordic,owned-memory", "zephyr,memory-region";
			reg = <0x2fc12e00 1024>;
			status = "okay";
			#memory-region-cells = <0>;
			nordic,access = <NRF_OWNER_ID_APPLICATION NRF_PERM_RW>;
			zephyr,memory-region = "DMA_RAM3x_FLPR";
			zephyr,memory-attr = <( DT_MEM_DMA )>;
		};
	};
};

/* PPI channel 0 for TDM130 MAXCNT */
&dppic132 {
	compatible = "nordic,nrf-dppic-global";
	owned-channels = <0>;
	source-channels = <0>;
	nonsecure-channels = <0>;
	status = "okay";
};

/* TDM130 PPI needs routing to TIMER131 through main APB */
&dppic130 {
	compatible = "nordic,nrf-dppic-global";
	owned-channels = <0 3 4>;
	sink-channels = <0 3 4>;
	source-channels = <0 3 4>;
	nonsecure-channels = <0 3 4>;
	status = "okay";
};

/* TIMER131 PPI channel 1 is used for SOF and channel 2 for decimated SOF */
&dppic133 {
	compatible = "nordic,nrf-dppic-global";
	owned-channels = <0 1 2 3 4>;
	sink-channels = <0 1 2>;
	source-channels = <3 4>;
	status = "okay";
};

&uart136 {
	current-speed = <1000000>;
};

&gpiote130 {
	status = "okay";
	owned-channels = <0 3 4>;
};

&timer131 {
	status = "okay";
};

/* To allow use of 9.4 and 9.5 pins for debugging. */
&can120 {
	status = "disabled";
};
